---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/jazzyframework/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Jazzy Presentation</title>
    <!-- Goatcounter if wanted, but clean for presentation -->
  </head>
  <body class="bg-background text-foreground min-h-screen font-base overflow-hidden selection:bg-main selection:text-main-foreground">
    <slot />
  </body>
</html>
